*{
    box-sizing: border-box;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url("/kitchering/images/bg-body.png");
    font-family: sans-serif;
}

.container{
    max-width: 540px;
    margin: 0 auto;
}

p{
    font-size: 20px;
    color: #666;
}



/* header */

.main-header, 
.main-footer{
    text-align: center;
}

.logo{
    margin-top: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.toggle-nav{
    width: 100%;
    margin: 30px 0;

}

.toggle-nav a{
    background-color: #444;
    color: white;
    padding: 10px 14px;
    transition: all .3s;

}


.main-nav li,
.main-footer li{
    background-color: #444;
    margin-bottom: 2px;
}

.main-nav a,
.main-footer a{
    display: inline-block;
    width: 100%;
    font-weight: 600;
    padding: 8px 0;
    text-transform: uppercase;
}

/* banner */

.banner{
    display: none;
    margin-bottom: 30px;
}

.banner img{
    width: 100%;
}


/* productos */

.product{
    margin-bottom: 30px;
}

.product .photo-container{
    position: relative;
}

.product .photo{
    width: 100%;
}

.product .special{
    position: absolute;
    top: 0;
    right: 10px;
}

.product .zoom{
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.product .zoom:hover{
    font-size: 20px;
}

.product .more{
    background-color: #444;
    font-weight: 600;
    padding: 10px 15px;
    transition: all .3s;
}

.product .more:hover{
   background-color: rgba(68, 68,68, 0.774);
}

@media (min-width: 768px){
    .container{
        max-width: 760px;
    }

    .toggle-nav{
        display: none;
    }

    .main-nav ul{
        overflow: hidden;
    }

    .main-nav li{
        float: left;
        width: 15.25%;
        margin-right: 1.7%;
        padding: 8px 0;
    }

    .main-nav li:last-child{
        margin-right: 0;
    }

    .banner{
        display: block;
    }

    .vip-products{
        overflow: hidden;
    }

    .product{
        float: left;
        width: 49%;
              
    }

    .product:nth-child(odd){
        margin-right: 2%;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1180px;
    }

    .product{
        width: 32.2%;
        margin-right: 1.694%;
    }

    .product:nth-child(odd){
        margin-right: 1.694%;
    }

    .product:nth-child(3n){
        margin-right: 0;
    }

    .main-footer{
        background-color: rgb(163, 7, 7);
        border-radius: 30px 30px 0 0;        
    }

    .main-footer ul{
        overflow: hidden;
        display: inline-block;
        padding: 40px 0 ;
    }

    .main-footer li{
        background-color: transparent;
        float: left;
        padding: 0 10px;
        border-right: 2px solid white;
        transition: all .3s;
    }

    .main-footer li:hover{
        font-size: 20px;
    }

    .main-footer li:last-child{
        border-right: none;
    }

    .main-footer a{
        padding: 2px 0;
        text-transform: capitalize;
    }

    .main-nav li{
        transition: all .3s;
    }

    .main-nav li:hover{
        background-color: rgba(68, 68,68, 0.774);
    }
}
